<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="preload.js"></script>
    <title>Card game</title>
</head>

<body>
    <%- include('topNav') %>
        <div id="card-input-container">


            <%- include('cardInputForm') %>
        </div>

        <script>

            const userData = '<%- JSON.stringify(userData) %>'

        </script>
        <script src="cardInputForm.js"></script>





</body>

</html>