<div class="form-control">

    <label class="input-group">
        <span>Deck</span>
        <select name="type" id="card-type" class="select w-full max-w-xs">
            <option value="Cards for Couples">Conversation starters for couples</option>
            <option value="Cards for Friends">Conversation starters for friends</option>
            <option value="Other">Other</option>

        </select>
    </label>
</div>