<div class="form-control">

    <label class="input-group">
        <span>Deck</span>
        <select name="type" id="card-type" class="select w-full max-w-xs">
            <option value="Cards for Couples">Conversation starters</option>




        </select>
    </label>
</div>