<div class="fixed top-0">
    <div class="navbar bg-base-100 space-x-20">
        <div class="navbar-start">

            <label class="normal-case text-xl">Card games</label>
        </div>

        <div class="navbar-end">
            <a href="/addcontent" class="btn" id="show-card-input-form">Add new cards </a>
        </div>
    </div>
</div>
<script src="topNav.js"></script>