<div class="overflow-y-auto max-h-96 max-w-2xl">
    <table class="table w-full">
        <!-- head -->
        <thead class="sticky top-0">
            <tr>
                <th>#</th>
                <th>Date Added</th>
                <th>Deck</th>
                <th>Approved</th>
                <th>Prompt</th>
            </tr>
        </thead>

        <tbody id="prompts-table ">


            <!-- row 1 -->
            <tr>
                <td>1</td>
                <td>22-02-2023</td>
                <td>Cy Ganderton</td>
                <td>Yes</td>
                <td class="text-ellipsis">Quality Control SpecialistQuality Control SpecialistQuality Control

                </td>
            </tr>



        </tbody>

    </table>
</div>