<div class="overflow-y-auto max-h-96 max-w-2xl">
    <table class="table w-full">
        <!-- head -->
        <thead class="sticky top-0">
            <tr>
                <th>#</th>
                <th>Date Added</th>
                <th>Deck</th>
                <th>Approved</th>
                <th>Prompt</th>
            </tr>
        </thead>

        <tbody id="prompts-table">

        </tbody>

    </table>
</div>