/* contents one below the other */
#card-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#card-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    font-family: 'Roboto', sans-serif;
}