body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.alert{
    opacity: 0;
}

#card-input-page{
    max-height: 750px;
   
}
#hint{
    max-width: 450px;
    min-height: 125px;
}

